

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/image.jpg);
    background-size:cover;
    background-position: center;
    padding:0 8%;
    position:relative;
}
nav{
    display:flex;
    width:100%;
    align-items: center;
    flex-wrap:wrap;
    padding: 5px 0;
}
.logo{
    width:120px;
    cursor:pointer;
    border-radius:50%;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 5px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color:snow;
    text-decoration: none;
    position: relative;

}
nav ul li a::after{
    content:'';
    width: 0;
    height:3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;


}
nav ul li a:hover::after{
    width: 50%;
}

h1 {
    padding-top: 30px;
    text-align: center;
    color:darkcyan;
    font-size:40px;
    font-weight:600px;
    top: auto;
    
  }

#voting-form {
    margin: 20px auto;
    width: 500px;
}
form {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="submit"] {
    margin-top: 6px;
}
.vote{
    text-align:center;
    color:rgb(17, 70, 67);
    
    width:90%;
    max-width: 400px;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -40%);
    background:darkgray ;
    padding: 50px 10px;
    text-align :center;
}
.vote h2{
    font-size: 30px;
    margin-bottom: 50px;
    color:rgb(17, 70, 67);
    position:relative;
}
.vote h2::after{
    content:'';
    width:30px;
    height: 5px;
    border-radius: 5px;
    background:rgb(17, 70, 67);
    position:absolute;
    bottom: -12px;
    left:45%;

}
.input-feild{
    background:cadetblue;
    margin:3px 0;
    border-radius:3px;
    display:flex;
    align-items: center;

}
input{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding: 10px 10px;
}
.footer{
    width:100%;
    text-align:center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}